<form [formGroup]="filterForm" (submit)="handleSubmit()">
  <h2 class="margin-bottom-0">Minimum Price:</h2>
  <mat-slider
    formControlName="minPrice"
    thumbLabel
    tickInterval="1"
    min="0"
    max="100"
  ></mat-slider>

  <h2 class="margin-bottom-0">Maximum Price:</h2>
  <mat-slider
    formControlName="maxPrice"
    thumbLabel
    tickInterval="1"
    min="0"
    max="100"
  ></mat-slider>
  <br />
  <h2 class="margin-bottom-0">Activity Type:</h2>
  <mat-form-field>
    <mat-select formControlName="activityType">
      <mat-option value="">Choose one</mat-option>
      <mat-option
        *ngFor="let activityType of activityTypes"
        [value]="activityType"
        >{{ activityType }}</mat-option
      >
    </mat-select> </mat-form-field
  ><br />
  <mat-error>
    <span *ngIf="filterForm?.errors?.minGreaterThanMax"
      >Minimum price should be less than Maximum price.</span
    >
  </mat-error>

  <button mat-raised-button color="warn" [disabled]="!filterForm.valid">
    Submit
  </button>
</form>
