p {
  margin: 0 0 20px;
  font-weight: bold;
}
button {
  margin: 0 auto;
}
.row {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.mat-dialog-title {
  text-align: center;
}
.activity-label {
  float: left;
  width: 30%;
}
.activity-value {
  float: left;
  width: 70%;
}
